{% extends "base.html" %}
{% block content %}
<h1>Daily PARETO:</h1>
    {% if request.user.is_staff %}
    <div><a href="{% url 'gemba_app:pareto-details-create-view' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Add Pareto line
    </button></a>
    </div>

  <br/>
  {% endif %}
<p><b>Downtime reasons</b></p>
    {% for item in object_list %}
    <tr><a href="{% url 'gemba_app:downtime-detail-create' pk=item.pk %}">{{ item.code }}   |   </a></tr>
    {% endfor %}
<br/>
<br/>
<p><b>Scrap reasons</b></p>
    {% for scrap in scrap_list %}
    <tr><a href="{% url 'gemba_app:scrap-detail-create' pk=scrap.pk %}">{{ scrap.code }}  |   </a></tr>
    {% endfor %}

{% endblock %}