{% extends "base.html" %}
{% block content %}
{% load mathfilters %}

<h4>Daily OEE Report - {{ request.GET.urlencode|cut:'q='}}</h4>
<p><a href="{% url 'gemba_app:pareto-view' %}">Go back</a></p>
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Pareto Id</th>
            <th scope="col">Line / User</th>
            <th scope="col">Shift</th>
            <th scope="col">Job OTG/End</th>
            <th scope="col">Availability</th>
            <th scope="col">Performance</th>
            <th scope="col">Quality</th>
            <th scope="col">OEE</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr>
            <td><a href="{% url 'gemba_app:pareto-detail-view' pk=item.id %}">{{ item.id }}</a></td>
            <td>{{ item.user }}</td>
            <td>{{ item.shift }}</td>
            <td>{% if item.job_otg is None %} ----- {% else %} {{ item.job_otg }} {% endif %}</td>
            <td>{{ item.availability }}%</td>
            <td>{{ item.performance }}%</td>
            <td>{{ item.quality }}%</td>
            <td>{{ item.oee }}%</td>
        </tr>
        {% endfor %}
        </tbody>
</table>
<div><a href="{% url 'gemba_app:export_daily_oee_report' %}?{{request.GET.urlencode}}">
<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Export to CSV
</button></a></div>
{% endblock %}
