{% extends "base.html" %}
{% block content %}
<h4>Downtime in a week:</h4>

<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Minutes</th>
            <th scope="col">Job</th>
            <th scope="col">Pareto ID</th>
            <th scope="col">Pareto Date</th>
        </tr>
        </thead>
        <tbody>
        {% for object in down_qs %}
            <tr>
                <td>{{ object.minutes }}</td>
                <td>{{ object.job }}</td>
                <td><a href="{% url 'gemba_app:pareto-detail-view' pk=object.pareto_id %}">{{ object.pareto_id }}</a></td>
                <td>{{ object.pareto_date }}</td>
           {% endfor %}
            </tr>
        </tbody>
    </table>

{% endblock %}