{% extends "base.html" %}
{% block content %}
<h4>Downtime reasons View:</h4>
<form action="{% url 'gemba_app:search-result' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
 </form>
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Time stamp</th>
            <th scope="col">User / Line</th>
            <th scope="col">Downtime Reason</th>
            <th scope="col">Minutes</th>
            <th scope="col">Frequency</th>
            <th scope="col">Job</th>
            <th scope="col">Pareto ID</th>
            <th scope="col">Pareto Date</th>
        </tr>
        </thead>
        <tbody>
        {% for object in today_downtimes %}
            <tr>
                <td>{{ object.datetime}}</td>
                <td>{{ object.user }}</td>
                <td>{{ object.downtime }}</td>
                <td>{{ object.minutes }}</td>
                <td>{{ object.frequency }}</td>
                <td>{{ object.job }}</td>
                <td>{{ object.pareto_id }}</td>
                <td>{{ object.pareto_date }}</td>
           {% endfor %}
            </tr>
        </tbody>
    </table>

{% endblock %}