{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
{% load mathfilters %}
<h4>Results:</h4>
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">User / Line</th>
            <th scope="col">Downtime</th>
            <th scope="col">Description</th>
            <th scope="col">Minutes</th>
            <th scope="col">Job</th>
            <th scope="col">Pareto ID</th>
            <th scope="col">C/O </th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.pareto_date|date:"d-m-Y" }}</td>
                <td>{{ object.user }}</td>
                <td>{{ object.downtime }}</td>
                <td>{{ object.downtime.description }}</td>
                <td>{{ object.minutes }}</td>
                <td>{{ object.job }}</td>
                <td>{{ object.pareto_id }}</td>
                <td>{% if object.completed is True %} C {% else %} O {% endif %}</td>
           {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}