{% extends "base.html" %}
{% block content %}
<h4>Downtime reasons View:</h4>
<form action="{% url 'gemba_app:search-result' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
 </form>
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Created</th>
            <th scope="col">Line</th>
            <th scope="col">Downtime Reason</th>
            <th scope="col">Minutes</th>
            <th scope="col">Frequency</th>
            <th scope="col">Job</th>
            <th scope="col">Pareto ID</th>
            <th scope="col">Pareto Date</th>
        </tr>
        </thead>
        <tbody>
        {% for object in page_obj %}
            <tr>
                <td>{{ object.modified|date:'d-m-Y H:i'}}</td>
                <td>{{ object.line }}</td>
                <td>{{ object.downtime }}</td>
                <td>{{ object.minutes }}</td>
                <td>{{ object.frequency }}</td>
                <td>{{ object.job }}</td>
                <td>{{ object.pareto_id }}</td>
                <td>{{ object.pareto_date }}</td>
           {% endfor %}
            </tr>
        </tbody>
    </table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}