{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<div>
<div>
    <div class = "row">
    <div class = "col">
<h4>Downtime reasons:</h4>
<br/>
{% if message_status == "Display" %}
    <div class="alert alert-primary">
    <strong>Info!</strong> You should <a href="{% url 'gemba_app:job-user-view' %}" class="alert-link">choose a job first!</a>
    </div>
{% endif %}
<p><a href="{% url 'gemba_app:pareto-ns-update-view' pk=pareto.pk %}">
        Not scheduled to run </a>- {{ pareto.not_scheduled_to_run }} min</p>
<p>{% if timer_obj == "" %}<a href="{% url 'gemba_app:timer' %}">Start timer </a> {% else %} Downtime length:
    {{ down_length }} min <a href="{% url 'gemba_app:reset-timer' %}">Reset timer </a>{% endif %}
</p>
</div>
    <div class = "col">
<form method="get">
    <div class="well">
      <p><a href="{% url 'gemba_app:downtime-user-view' %}">Clear all filters</a></p>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.code.label_tag }}
          {% render_field filter.form.code class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.description.label_tag }}
          {% render_field filter.form.description class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
</form>
</div>
</div>
<div>
    <div class = "row">
    <br/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Code - Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
    <tr>
    {% for item in filter.qs|slice:"0:5" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"5:10" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"10:15" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"15:20" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"20:25" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"25:30" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"30:35" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"35:40" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"40:45" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"45:50" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"50:55" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"55:60" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"60:65" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"65:70" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"70:75" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in filter.qs|slice:"75:80" %}
    <td><a href="{% url 'gemba_app:downtime-detail-create' pk=item.downtime.pk %}">{{ item.downtime }}</a></td>
    {% endfor %}
    </tr>
        </tbody>
    </table>
</div>
Use the "Set up" reason only when you are changing the machine from one job to another.
{% endblock %}
