{% extends "base.html" %}
{% block content %}
<h4>Results:</h4>
<p><a href="{% url 'gemba_app:downtimes-view' %}">Go back</a></p>
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">User / Line</th>
            <th scope="col">Downtime Reason</th>
            <th scope="col">Minutes</th>
            <th scope="col">Job</th>
            <th scope="col">Pareto ID</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.pareto_date }}</td>
                <td>{{ object.user }}</td>
                <td>{{ object.downtime }}</td>
                <td>{{ object.minutes }}</td>
                <td>{{ object.job }}</td>
                <td>{{ object.pareto_id }}</td>
           {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}