{% extends "base.html" %}
{% block content %}
<h4>Choose job:</h4>
<div>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Jobs</th>
        </tr>
        </thead>
        <tbody>
    <tr>
    {% for item in job_list|slice:"0:10" %}
    <td><a href="{% url 'gemba_app:select-job' pk=item.pk %}">{{ item }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in job_list|slice:"10:20" %}
    <td><a href="{% url 'gemba_app:select-job' pk=item.pk %}">{{ item }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in job_list|slice:"20:30" %}
    <td><a href="{% url 'gemba_app:select-job' pk=item.pk %}">{{ item }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in job_list|slice:"30:40" %}
    <td><a href="{% url 'gemba_app:select-job' pk=item.pk %}">{{ item }}</a></td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in job_list|slice:"40:50" %}
    <td><a href="{% url 'gemba_app:select-job' pk=item.pk %}">{{ item }}</a></td>
    {% endfor %}
    </tr>
        </tbody>
    </table>
</div>
{% endblock %}