{% extends "base.html" %}
{% block content %}
<form action="{% url 'gemba_app:downtime-rate-report' %}" method="get">
<h4>Select any day of the base week:</h4>
     <input name="base_day" type="date">
     </br>
     </br>
    <h4>Select a line:</h4>
        {% for o in lines_qs %}
        <tr>
            <td>{{o.name}}&nbsp;&nbsp;<input type="radio" name="Line" value="{{o.name}}"></td>
            </br>
        </tr>
        {% endfor %}
      </br>
    </br>
     <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Search
    </button>
 </form>
{% endblock %}