{% extends "base.html" %}
{% block content %}
{% load mathfilters %}
<h4>Pareto Quarantine Detail View</h4>
Do you want to resolve quarantine case now? <a href="{% url 'gemba_app:quarantine-case-detail' scrap_id=scrap_id pareto_id=pareto_list.id %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search">Yes</span>
    </button></a>
<br/>
<br/>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Line</th>
            <th scope="col">Date</th>
            <th scope="col">Shift</th>
            <th scope="col">Job</th>
            <th scope="col">Quarantine</th>
            <th scope="col">Pareto ID</th>
            <th scope="col">Pareto Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>{{ pareto_list.line}}</b></td>
            <td>{{ pareto_list.pareto_date|date:"d-m-Y" }}</td>
            <td>{{ pareto_list.shift }}</td>
            <td>{{ scrap_obj.job.name }}</td>
            <td>{{ scrap_obj.qty }}</td>
            <td>{{ pareto_list.id }}</td>
            <td>{{ pareto_list.pareto_date }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
