{% extends "base.html" %}
{% block content %}
{% load mathfilters %}
<div>{% if pareto_status == "Not exist" %}
    <a href="{% url 'gemba_app:pareto-start-new' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Start new Pareto
    </button></a>
    {% else %}
    <a href="{% url 'gemba_app:pareto-details-create-view' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Add Pareto line
    </button></a>
    <a href="{% url 'gemba_app:downtime-user-view' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Add downtime
    </button></a>
    <a href="{% url 'gemba_app:scrap-user-view' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Add scrap
    </button></a>
    <a href="{% url 'gemba_app:pareto-update-view' pk=pareto_list.pk %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Update Pareto
    </button></a>
    <a href="{% url 'gemba_app:job-user-view' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Select job
    </button></a>
    <a href="{% url 'gemba_app:close-pareto' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Close Pareto
    </button></a>
    {% endif %}
    </div>
    <br/>
    {% if message_status == "Display" %}
    <div class="alert alert-primary">
    <strong>Info!</strong> You should <a href="{% url 'gemba_app:job-user-view' %}" class="alert-link">choose a job first!</a>
    </div>
    {% endif %}
    <br/>
<h2 style="text-align:left;">PARETO  Date: {{ pareto_list.pareto_date|date:"d-m-Y" }}
    {% if pareto_list.job_otg is None %} Job: Please select! {% else %} Job: {{ pareto_list.job_otg }}{% endif %}
    <span style="float:right;">Line: {{ user }}</span></h2>
    <p>Shift started: {{ pareto_list.time_stamp|time:"h:i a" }} - {{ pareto_list.shift|slice:"4:" }} - {{ pareto_list.hours }} hours -
        Operators: {{ pareto_list.ops }} - Time available until now: {{ available_time }} min - Not scheduled to run:
        {{ pareto_list.not_scheduled_to_run}} min</p>

<div>
    <div class = "row">
    <div class = "col">
        <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Job</th>
            <th scope="col">Output</th>
            <th scope="col">Good</th>
            <th scope="col">Scrap</th>
            <th scope="col">Takt time</th>
        </tr>
        </thead>
        <tbody>
        {% if pareto_list.jobs.all|length == 0 %}
              <tr>
                <td colspan='5'>No records</td>
              </tr>
        {% endif %}
        <tr>
        {% for pareto_item in pareto_list.jobs.all %}
            <td><a href="{% url 'gemba_app:pareto-details-view' pk=pareto_item.pk %}">
                {{ pareto_item.job.name }}</a></td>
            <td>{{ pareto_item.qty }}</td>
            <td>{{ pareto_item.good }}</td>
            <td>{{ pareto_item.qty|sub:pareto_item.good }}</td>
            <td>{{ 60|div:pareto_item.job.target|floatformat:5 }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td> <b>{{ total_output }}</b> </td>
            <td> <b>{{ total_good }}</b> </td>
            <td> <b>{{ total_scrap_cal }}</b> </td>
            <td> </td>
        </tr>
        </tbody>
        </table>
    </div>

    <div class = "col">
        <table class="table">
            <thead>
            <tr>
                 <th scope="col" style="text-align:right;">OEE</th>
                <th scope="col">Results</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align:right;">Availability<br/>
                Performance<br/>
                Quality<br/>
                    <br/>
                <p style="font-size:1vw;"><b>OEE</b></p><br/>
                </td>
                <td>
                {{ availability }}%<br/>
                {{ performance }}%<br/>
                {{ quality }}%<br/>
                    <br/>
                <p style="font-size:1vw;"><b>{{ oee }}%</b></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

<div>
    <div class = "row">
    <div class = "col">
    <br/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="50%">Downtime Reason</th>
            <th scope="col" width="15%">Minutes</th>
            <th scope="col" width="15%">Frequency</th>
            <th scope="col" width="20%">Job</th>
        </tr>
        </thead>
        <tbody>
        {% if pareto_list.downtimes.all|length == 0 %}
              <tr>
                <td colspan='5'>No downtimes recorded</td>
              </tr>
        {% endif %}
             <tr>{% for pareto_item in pareto_list.downtimes.all %}
            <td><a href="{% url 'gemba_app:downtime-detail-view' pk=pareto_item.pk %}">
                {{ pareto_item.downtime.code }} - {{ pareto_item.downtime.description }}</a></td>
            <td>{{ pareto_item.minutes }}</td>
                 <td>{{ pareto_item.frequency }}</td>
                 <td>{{ pareto_item.job }}</td>
             </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td><b>{{ total_down }}</b> </td>
            <td> </td>
        </tr>
        </tbody>
    </table>

    </div>
    <div class = "col">
        {% if total_scrap_cal|sub:total_scrap < 0 %} Remove scrap qty:
        {{ total_scrap|sub:total_scrap_cal }} {% else %} Missing qty: {{ total_scrap_cal|sub:total_scrap }} {% endif %}
            <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="50%">Scrap Reason</th>
            <th scope="col" width="25%">Quantity</th>
            <th scope="col" width="25%">Job</th>
        </tr>
        </thead>
        <tbody>
        {% if pareto_list.scrap.all|length == 0 %}
              <tr>
                <td colspan='5'>No scrap reasons recorded</td>
              </tr>
        {% endif %}
             <tr>{% for pareto_item in pareto_list.scrap.all %}
                 <td><a href="{% url 'gemba_app:scrap-detail-view' pk=pareto_item.pk %}">
                     {{ pareto_item.scrap.code }} - {{ pareto_item.scrap.description }}</a></td>
            <td>{{ pareto_item.qty }}</td>
                 <td>{{ pareto_item.job }}</td>
             </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td><b>{{ total_scrap }}</b></td>
            <td> </td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>

{% endblock %}
