{% extends "base.html" %}
{% block content %}
<h4>Daily OEE Report:</h4>
Select a date
 <form action="{% url 'gemba_app:daily-pareto-search-result' %}" method="get">
    <input name="q" type="date">
     <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Search
    </button>
 </form>
<table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Pareto Id</th>
            <th scope="col">Line</th>
            <th scope="col">Shift</th>
            <th scope="col">Job OTG/End</th>
            <th scope="col">OPs OTG/End</th>
            <th scope="col">Availability</th>
            <th scope="col">Performance</th>
            <th scope="col">Quality</th>
            <th scope="col">OEE</th>
        </tr>
        </thead>
        <tbody>
        {% for item in report_list %}
        <tr>
            <td><a href="{% url 'gemba_app:pareto-detail-view' pk=item.id %}">{{ item.id }}</a></td>
            <td>{{ item.line }}</td>
            <td>{{ item.shift }}</td>
            <td>{% if item.job_otg is None %} ----- {% else %} {{ item.job_otg }} {% endif %}</td>
            <td>{{ item.ops }}</td>
            <td>{{ item.availability }}%</td>
            <td>{{ item.performance }}%</td>
            <td>{{ item.quality }}%</td>
            <td>{{ item.oee }}%</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3"><b>Average Daily OEE Elements</b></td>
            <td></td>
            <td><b>{{ sum_ops }}</b></td>
            <td><b>{{ avg_availability }}%</b></td>
            <td><b>{{ avg_performance }}%</b></td>
            <td><b>{{ avg_quality }}%</b></td>
            <td><b>{{ avg_oee }}%</b></td>
        </tr>
        </tbody>
</table>
{% endblock %}