{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
{% load mathfilters %}
<h4>Productivity View:</h4>
<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Last entry</th>
                <th scope="col">User / Line</th>
                <th scope="col">Job</th>
                <th scope="col">Output</th>
                <th scope="col">Good</th>
                <th scope="col">Scrap</th>
                <th scope="col">Takt time</th>
                <th scope="col">Pareto ID</th>
                <th scope="col">Pareto Date</th>
            </tr>
        </thead>
        <tbody>
        {% for object in page_obj %}
            <tr>
                <td>{{ object.datetime|date:'d-m-Y H:i' }}</td>
                <td>{{ object.user }}</td>
                <td>{{ object.job }}</td>
                <td>{{ object.output }}</td>
                <td>{{ object.good }}</td>
                <td>{{ object.scrap }}</td>
                <td>{{ object.takt_time }}</td>
                <td>{{ object.pareto_id }}</td>
                <td>{{ object.pareto_date|date:"d-m-Y" }}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}