{% extends "base.html" %}
{% block content %}
{% load mathfilters %}

<h4>Pareto Detail View</h4>
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Line</th>
            <th scope="col">Date</th>
            <th scope="col">Shift</th>
            <th scope="col">Available time</th>
            <th scope="col">Downtime</th>
            <th scope="col">Availability</th>
            <th scope="col">Performance</th>
            <th scope="col">Quality</th>
            <th scope="col">OEE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>{{ pareto_list.line}}</b></td>
            <td>{{ pareto_list.pareto_date|date:"d-m-Y" }}</td>
            <td>{{ pareto_list.shift }}</td>
            <td>{{ report_list.available_time }} min</td>
            <td>{{ report_list.downtime }} min</td>
            <td>{{ report_list.availability }}%</td>
            <td>{{ report_list.performance }}%</td>
            <td>{{ report_list.quality }}%</td>
            <td><b>{{ report_list.oee }}%</b></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Jobs</th>
            <th scope="col">Output</th>
            <th scope="col">Good</th>
            <th scope="col">Rework</th>
            <th scope="col">Scrap</th>
            <th scope="col">Takt time</th>
            <th scope="col">Operators</th>
            <th scope="col">Availability</th>
            <th scope="col">Performance</th>
            <th scope="col">Quality</th>
            <th scope="col">OEE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
       {% for pareto_item in pareto_list.jobs.all %}
            <td>{{ pareto_item.job.name }}</td>
            <td>{{ pareto_item.output }}</td>
            <td>{{ pareto_item.good }}</td>
            <td>{{ pareto_item.rework }}</td>
            <td>{{ pareto_item.scrap }}</td>
            <td>{{ pareto_item.takt_time }}</td>
            <td>{{ pareto_item.ops}}</td>
            <td>{{ pareto_item.availability}}%</td>
            <td>{{ pareto_item.performance}}%</td>
            <td>{{ pareto_item.quality}}%</td>
            <td>{{ pareto_item.oee}}%</td>
        </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td> <b>{{ report_list.output }}</b> </td>
            <td> <b>{{ report_list.good }}</b> </td>
            <td> </td>
            <td> <b>{{ report_list.output|sub:report_list.good}}</b> </td>
            <td> </td>
            <td> </td>
        </tr>
        </tbody>
    </table>

<div>
<div class = "row">
<div class = "col">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Downtime</th>
            <th scope="col">Min</th>
            <th scope="col">Freq</th>
            <th scope="col">Job</th>
        </tr>
        </thead>
        <tbody>
             <tr>{% for pareto_item in downtimes_list %}
                 <td>{{ pareto_item.code }} - {{ pareto_item.description }}</td>
                 <td>{{ pareto_item.minutes }}</td>
                 <td>{{ pareto_item.frequency }}</td>
                 <td>{{ pareto_item.job }}</td>
             </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td><b>{{ report_list.downtime }}</b> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        </tbody>
        </table>
</div>
<div class = "col">

            <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Scrap</th>
            <th scope="col">Quantity</th>
            <th scope="col">Freq</th>
            <th scope="col">Job</th>

        </tr>
        </thead>
        <tbody>
             <tr>{% for pareto_item in scraps_list %}
                 <td>{{ pareto_item.code }} - {{ pareto_item.description }}</td>
                 <td>{{ pareto_item.qty }}</td>
                 <td>{{ pareto_item.frequency }}</td>
                 <td>{{ pareto_item.job }}</td>
             </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td><b>{{ report_list.scrap }}</b></td>
            <td> </td>
            <td> </td>
        </tr>
        </tbody>
    </table>
    <div class = "col">
</div>
</div>
</div>
    {% if user.is_superuser %}
    <div class = "row">
  <div class = "col">
<p><a href="{% url 'gemba_app:open-pareto' pareto_list.id %}">
<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Open Pareto
</button></a></p>
<p><a href="{% url 'gemba_app:tableau' pk=pareto_list.id %}">
<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Export Tableau file
</button></a></p>
      <p><a href="{% url 'gemba_app:export-pareto-to-pdf' pk=pareto_list.id %}">
<button name="pdf" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Export Pareto pdf file
</button></a></p>
  </div>
    </div>
    {% endif %}
{% endblock %}