{% extends "base.html" %}
{% block content %}
{% load mathfilters %}

<h4>Pareto Detail View</h4>
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Line / User</th>
            <th scope="col">Date</th>
            <th scope="col">Shift</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>{{ pareto_list.user }}</b></td>
            <td>{{ pareto_list.pareto_date|date:"d-m-Y" }}</td>
            <td>{{ pareto_list.shift }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Available time</th>
            <th scope="col">Downtime</th>
            <th scope="col">Availability</th>
            <th scope="col">Performance</th>
            <th scope="col">Quality</th>
            <th scope="col">OEE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ available_time }} min</td>
            <td>{{ downtime }} min</td>
            <td>{{ availability }}%</td>
            <td>{{ performance }}%</td>
            <td>{{ quality }}%</td>
            <td><b>{{ oee }}%</b></td>
        </tr>
        </tbody>
    </table>


    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Jobs</th>
            <th scope="col">Output</th>
            <th scope="col">Good</th>
            <th scope="col">Scrap</th>
            <th scope="col">Target</th>
            <th scope="col">Takt time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
       {% for pareto_item in pareto_list.jobs.all %}
            <td>{{ pareto_item.id }}</td>
            <td>{{ pareto_item.job.name }}</td>
            <td>{{ pareto_item.qty }}</td>
            <td>{{ pareto_item.good }}</td>
            <td>{{ pareto_item.qty|sub:pareto_item.good }}</td>
            <td>{{ pareto_item.job.target }}</td>
            <td>{{ 60|div:pareto_item.job.target|floatformat:5 }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td> </td>
            <td> <b>{{ output }}</b> </td>
            <td> <b>{{ good }}</b> </td>
            <td> <b>{{ output|sub:good}}</b> </td>
            <td> </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Downtime</th>
            <th scope="col">Minutes</th>
            <th scope="col">Job</th>
        </tr>
        </thead>
        <tbody>
             <tr>{% for pareto_item in pareto_list.downtimes.all %}
                 <td>{{ pareto_item.id }}</td>
            <td>{{ pareto_item.downtime.code }} - {{ pareto_item.downtime.description }}</td>
            <td>{{ pareto_item.minutes }}</td>
                 <td>{{ pareto_item.job }}</td>
             </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td> </td>
            <td><b>{{ downtime }}</b> </td>
            <td> </td>
        </tr>
        </tbody>
    </table>
            <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Scrap</th>
            <th scope="col">Quantity</th>
            <th scope="col">Job</th>
        </tr>
        </thead>
        <tbody>
             <tr>{% for pareto_item in pareto_list.scrap.all %}
                 <td>{{ pareto_item.id }}</td>
            <td>{{ pareto_item.scrap.code }} - {{ pareto_item.scrap.description }}</td>
            <td>{{ pareto_item.qty }}</td>
                 <td>{{ pareto_item.job }}</td>
             </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td> </td>
            <td><b>{{ scrap }}</b></td>
            <td> </td>
        </tr>
        </tbody>
    </table>
{% endblock %}