{% extends "base.html" %}
{% block content %}
{% load mathfilters %}
{{ shift_end }}
<a href="{% url 'gemba_app:final-confirmation-before-close-pareto' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Close Pareto
    </button>
</a>
<br/>
<br/>
    <h4 style="text-align:left;">PARETO FINAL VERSION
    <span style="float:right;">{{ pareto_list.line }}</span></h4>
<p>Date: {{ pareto_list.pareto_date|date:"d-m-Y" }}</p>
<p> {{ pareto_list.shift }} - {{ pareto_list.hours }} hours -
    Operators: {{ pareto_list.ops }} - Available time: {{ available_time }} min - Not scheduled to run:
    {{ pareto_list.not_scheduled_to_run}} min</p>
<p> Total Downtime: {{ downtime }} min </p>

    {% if scrap_compare != 0 %}
    <div class="alert alert-danger"><strong>Info!</strong>
    There is a mistake in your Pareto: Output: {{ output }} -
    Good: {{ good }} = {{ scrap }}?! Should be {{ scrap|add:scrap_compare }}. Go back to Pareto sheet and fix it.
    </div>
    {% endif %}

    {% if performance > 100 %}
    <div class="alert alert-primary"><strong>Info!</strong>
    Possibly, there is a mistake in your Pareto: Your Performance ({{ performance }}%) > 100%.
    Please go back to Pareto sheet and fix it.
    </div>
    {% endif %}

    {% if performance < 70 %}
    <div class="alert alert-primary"><strong>Info!</strong>
    Possibly, there is a mistake in your Pareto: Your Performance ({{ performance }}%)
    is too low. Please go back to Pareto sheet and check it.
    </div>
    {% endif %}

    {% if quality == 100 %}
    <div class="alert alert-primary"><strong>Info!</strong>
    Possibly, there is a mistake in your Pareto: Your Quality ({{quality }}%) = 100%.
    Please go back to Pareto sheet and check it.
    </div>
    {% endif %}

<div>
    <div class = "row">
    <div class = "col">
        <table class="table table">
        <thead>
        <tr>
            <th scope="col">Job</th>
            <th scope="col">Output</th>
            <th scope="col">Good</th>
            <th scope="col">Rework</th>
            <th scope="col">Scrap</th>
            <th scope="col">Takt time</th>
        </tr>
        </thead>
        <tbody>
        {% if pareto_list.jobs.all|length == 0 %}
              <tr>
                <td colspan='5'>No records</td>
              </tr>
        {% endif %}
        {% for pareto_item in pareto_list.jobs.all %}
        <tr>
            <td>{{ pareto_item.job.name }}</td>
            <td>{{ pareto_item.output }}</td>
            <td>{{ pareto_item.good }}</td>
            <td>{{ pareto_item.rework }}</td>
            <td>{{ pareto_item.scrap }}</td>
            <td>{{ pareto_item.takt_time }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td> <b>{{ output }}</b> </td>
            <td> <b>{{ good }}</b> </td>
            <td> <b>{{ rework }}</b> </td>
            <td> <b>{{ scrap }}</b> </td>
            <td> </td>
        </tr>
        </tbody>
        </table>
        <table class="table table">
        <thead>
        <tr>
            <th scope="col">Job</th>
            <th scope="col">A</th>
            <th scope="col">P</th>
            <th scope="col">Q</th>
            <th scope="col">OEE</th>
        </tr>
        </thead>
        <tbody>
        </br>
        <b>OEE by job:</b>
        {% for job in calculation_by_job %}
        <tr>
            <td>{{ job.job }}</td>
            <td>{{ job.availability }}%</td>
            <td>{{ job.performance }}%</td>
            <td>{{ job.quality }}%</td>
            <td>{{ job.oee }}%</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    <div class = "col">
        <table class="table">
            <thead>
            <tr>
                 <th scope="col" style="text-align:right;">Overall OEE</th>
                <th scope="col">Results</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align:right;">Availability<br/>
                Performance<br/>
                Quality<br/>
                    <br/>
                <p><b>OEE</b></p><br/>
                </td>
                <td>
                {{ availability }}%<br/>
                {{ performance }}%<br/>
                {{ quality }}%<br/>
                    <br/>
                <p><b>{{ oee }}%</b></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

{% endblock %}