{% extends "base.html" %}
{% block content %}
{% load mathfilters %}
<head>
    <style>
        .smaller_font{
            font-size:0.7vw ;
            vertical-align: center;
            text-align: center;
      }
        .bigger_font{
            font-size:1.5vw;
            font-weight: bold;
        }
        .bigger_font_right{
            font-size:1.5vw;
            font-weight: bold;
            text-align: right;
        }
        .central_pos{
            vertical-align: center;
            text-align: center;
        }
    </style>
</head>

<div>{% if pareto_status == "Not exist" %}
    <a href="{% url 'gemba_app:pareto-start-new' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Start new Pareto
    </button></a>
    {% else %}
    <a href="{% url 'gemba_app:pareto-details-create-view' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>+ Pareto line
    </button></a>
    <a href="{% url 'gemba_app:downtime-user-view' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>+ Downtime
    </button></a>
    <a href="{% url 'gemba_app:scrap-user-view' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>+ Scrap
    </button></a>
    <a href="{% url 'gemba_app:pareto-update-view' pk=pareto_list.pk %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Update Pareto
    </button></a>
    <a href="{% url 'gemba_app:job-user-view' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Select job
    </button></a>
    <a href="{% url 'gemba_app:before-close-pareto' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Close Pareto
    </button></a>
    {% endif %}
    <span style="float:right; font-size:1.5vw; font-weight: bold; text-decoration: underline">{{ pareto_list.line }}</span>
    </div>
    <br/>
    {% if message_status == "Display" %}
    <div class="alert alert-primary">
    <strong>Info!</strong> You should <a href="{% url 'gemba_app:job-user-view' %}" class="alert-link">choose a job first!</a>
    </div>
    {% endif %}
    {% if total_scrap_cal != total_scrap  %}
    <div class="alert alert-primary">
    <strong>Info!</strong> Balance the amount of scraps!
    </div>
    {% endif %}
    <div class = "row">
    <div class = "col">
        <p class="bigger_font">{% if pareto_list.job_otg is None %} Current job: Please select! {% else %} Current job:
        {{ pareto_list.job_otg }}{% endif %}</p></div>
    <div class = "col">
        <p class="bigger_font_right">{{ pareto_list.pareto_date|date:"d M Y" }}</p>
    </div>

    </div>
    <p>Shift started at: {{ pareto_list.time_stamp|time:"h:i a" }} ({{ pareto_list.shift }}) - {{ pareto_list.hours }} hours -
        Operators: {{ pareto_list.ops }} - Time available until now: {{ available_time }} min - Not scheduled to run:
        {{ pareto_list.not_scheduled_to_run}} min</p>

<div>
    <div class = "row">
    <div class = "col">
        <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Job</th>
            <th scope="col" class="central_pos">Output</th>
            <th scope="col" class="central_pos">Good</th>
            <th scope="col" class="central_pos">Scrap</th>
            <th scope="col" class="smaller_font">Takt time</th>
            <th scope="col" class="smaller_font">Last Entry</th>
        </tr>
        </thead>
        <tbody>
        {% if pareto_list.jobs.all|length == 0 %}
              <tr>
                <td colspan='6'>No records</td>
              </tr>
        {% endif %}
        {% for pareto_item in pareto_list.jobs.all %}
        <tr>
            <td><a href="{% url 'gemba_app:pareto-details-view' pk=pareto_item.pk %}">
                {{ pareto_item.job.name }}</a></td>
            <td class="central_pos">{{ pareto_item.output }}</td>
            <td class="central_pos">{{ pareto_item.good }}</td>
            <td class="central_pos">{{ pareto_item.scrap }}</td>
            <td class="smaller_font">{{ pareto_item.takt_time }}</td>
            <td class="smaller_font">{{ pareto_item.modified|date:"H:i" }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td class="central_pos"> <b>{{ total_output }}</b> </td>
            <td class="central_pos"> <b>{{ total_good }}</b> </td>
            <td class="central_pos"> <b>{{ total_scrap_cal }}</b> </td>
            <td> </td>
            <td> </td>
        </tr>
        </tbody>
        </table>
    </div>

    <div class = "col">
        <table class="table">
            <thead>
            <tr>
                 <th scope="col" style="text-align:right;">OEE</th>
                <th scope="col">Results</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align:right;">Availability<br/>
                Performance<br/>
                Quality<br/>
                    <br/>
                <p style="font-size:1vw;"><b>OEE</b></p><br/>
                </td>
                <td>
                {{ availability }}%<br/>
                {{ performance }}%<br/>
                {{ quality }}%<br/>
                    <br/>
                <p style="font-size:1vw;"><b>{{ oee }}%</b></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

<div>
    <div class = "row">
    <div class = "col">
    <br/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th  scope="col">Downtime Reason</th>
            <th  scope="col" class="central_pos">Min</th>
            <th  scope="col" class="smaller_font">Job</th>
            <th  scope="col" class="smaller_font">Created</th>
        </tr>
        </thead>
        <tbody>
        {% if down_qs|length == 0 %}
              <tr>
                <td colspan='4'>No downtimes recorded</td>
              </tr>
        {% endif %}
        {% for pareto_item in down_qs %}
        <tr>
            <td><a href="{% url 'gemba_app:downtime-detail-view' pk=pareto_item.pk %}">
                {{ pareto_item.downtime.code }} - {{ pareto_item.downtime.description }}</a></td>
            <td class="central_pos">{{ pareto_item.minutes }}</td>
            <td class="smaller_font">{{ pareto_item.job }}</td>
            <td class="smaller_font">{{ pareto_item.created|date:"H:i" }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td class="central_pos"><b>{{ total_down }}</b> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        </tbody>
    </table>

    </div>
    <div class = "col">
        {% if calc_option == TC %} {% if total_scrap_cal|sub:total_scrap < 0 %} Remove scrap qty:
        {{ total_scrap|sub:total_scrap_cal }} {% else %} Missing qty: {{ total_scrap_cal|sub:total_scrap }} {% endif %}
        {% else %} -- {% endif %}
            <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Scrap Reason</th>
            <th scope="col" class="central_pos">Quantity</th>
            <th scope="col" class="smaller_font">Job</th>
            <th scope="col" class="smaller_font">Created</th>
        </tr>
        </thead>
        <tbody>
        {% if scrap_qs|length == 0 %}
              <tr>
                <td colspan='4'>No scrap reasons recorded</td>
              </tr>
        {% endif %}
             <tr>{% for pareto_item in scrap_qs %}
                 <td><a href="{% url 'gemba_app:scrap-detail-view' pk=pareto_item.pk %}">
                     {{ pareto_item.scrap.code }} - {{ pareto_item.scrap.description }}</a></td>
                 <td class="central_pos">{{ pareto_item.qty }}</td>
                 <td class="smaller_font">{{ pareto_item.job }}</td>
                 <td class="smaller_font">{{ pareto_item.created|date:"H:i" }}</td>
             </tr>
        {% endfor %}
        <tr>
            <td> <b>Total</b> </td>
            <td class="central_pos"><b>{{ total_scrap }}</b></td>
            <td> </td>
            <td> </td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>

{% endblock %}
