{% extends "base.html" %}
{% block content %}
{% load mathfilters %}

<h4>Pareto Quarantine Summary</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Line</th>
            <th scope="col">Date</th>
            <th scope="col">Pareto ID</th>
            <th scope="col">Pareto Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>{{ quarantine_obj.line}}</b></td>
            <td>{{ quarantine_obj.modified|date:"d-m-Y" }}</td>
            <td>{{ quarantine_obj.pareto_id }}</td>
            <td>{{ quarantine_obj.pareto_date }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Job</th>
            <th scope="col">Good</th>
            <th scope="col">Scrap</th>
            <th scope="col">Initial Quarantine Qty</th>
            <th scope="col">Qty left to resolve</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ quarantine_obj.job.name }}</td>
            <td><a href="{% url 'gemba_app:update-good-quarantine' pk=quarantine_obj.id %}">{{ quarantine_obj.good }}
            </a></td>
            <td>{{ quarantine_obj.scrap }}</td>
            <td>{{ quarantine_obj.initial_qty }}</td>
            <td>{{ quarantine_obj.initial_qty|sub:total_scrap }}</td>
        </tr>
    </tbody>
</table>

<div>
    <div class="row">
        <div class="column">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Scrap Reason to choose</th>
                    </tr>
                </thead>
                <tbody>
                    {% for scrap_item in scrap_qs %}
                     <tr>
                         <td><a href="{% url 'gemba_app:create-quarantined-scrap' pk=scrap_item.id %}">
                             {{ scrap_item.scrap.code }} - {{ scrap_item.scrap.description }}</a></td>
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Scrapped</th>
                        <th scope="col">Qty</th>
                    </tr>
                </thead>
                <tbody>
                    {% if scrap_details_qs|length == 0 %}
                      <tr>
                        <td colspan='4'>No scrap reasons recorded</td>
                      </tr>
                    {% endif %}
                    {% for scrap_item in scrap_details_qs %}
                     <tr>
                         <td>{{ scrap_item.scrap.code }} - {{ scrap_item.scrap.description }}</td>
                         <td>{{ scrap_item.qty }}</td>
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}