{% extends "base.html" %}
{% block content %}
<h4>Tableau:</h4>
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Job</th>
            <th scope="col">Output</th>
            <th scope="col">Good</th>
        </tr>
        </thead>
        <tbody>
        {% for object in pareto_details %}
            <tr>
                <td>{{ object[0] }}</td>
                <td>{{ object[1] }}</td>
                <td>{{ object[2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}