{% block content %}
{% load timer static %}
<html>
    <body>
        <main>
            <ul>
                {% for timer in object_list %}
                <li>
                    {% render_timer timer %}
                </li>
                {% endfor %}
            </ul>
            <form method="POST" action="">
                {% csrf_token %}
                <p>
                    <button type="submit">Start timer</button>
                </p>
            </form>
        </main>
        <script src="{% static 'gemba/js/timer.js' %}"></script>
    </body>
</html>
{% endblock %}
