{% extends "base.html" %}
{% load mathfilters %}

{% block scripts %}
<script>
        if (screen.width < 500) {

          $("body").addClass("nohover");
          $("td, th")
            .attr("tabindex", "1")
            .on("touchstart", function() {
              $(this).focus();
            });

        }
</script>
{% endblock scripts %}

{% block content %}
<h4>Pareto Weekly Compare Report</h4>
<h5>{{ line_name }} - {{ shift }} </h5>
<br/>

<table class="mytable">
    <thead>
        <tr>
            <th scope="col">Day</th>
            <th scope="col" style="text-align: center;">Monday</th>
            <th scope="col" style="text-align: center;">Tuesday</th>
            <th scope="col" style="text-align: center;">Wednesday</th>
            <th scope="col" style="text-align: center;">Thursday</th>
            <th scope="col" style="text-align: center;">Friday</th>
            <th scope="col" style="text-align: center;">Saturday</th>
            <th scope="col" style="text-align: center;">Sunday</th>
        </tr>
    </thead>
    <tbody>
        {% for elem in report|slice:"0:6" %}
        <tr>
            <th scope="row">{{ elem.col0 }}</th>
            <td>{% if elem.col1 == 0 %} {% else %}{{ elem.col1 }}{% endif %}</td>
            <td>{% if elem.col2 == 0 %} {% else %}{{ elem.col2 }}{% endif %}</td>
            <td>{% if elem.col3 == 0 %} {% else %}{{ elem.col3 }}{% endif %}</td>
            <td>{% if elem.col4 == 0 %} {% else %}{{ elem.col4 }}{% endif %}</td>
            <td>{% if elem.col5 == 0 %} {% else %}{{ elem.col5 }}{% endif %}</td>
            <td>{% if elem.col6 == 0 %} {% else %}{{ elem.col6 }}{% endif %}</td>
            <td>{% if elem.col7 == 0 %} {% else %}{{ elem.col7 }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for elem in report|slice:jobs_idx%}
        <tr>
            <th scope="row">{{ elem.col0 }}</th>
            <td>{% if elem.col1 == 0 %} {% else %}{{ elem.col1 }}{% endif %}</td>
            <td>{% if elem.col2 == 0 %} {% else %}{{ elem.col2 }}{% endif %}</td>
            <td>{% if elem.col3 == 0 %} {% else %}{{ elem.col3 }}{% endif %}</td>
            <td>{% if elem.col4 == 0 %} {% else %}{{ elem.col4 }}{% endif %}</td>
            <td>{% if elem.col5 == 0 %} {% else %}{{ elem.col5 }}{% endif %}</td>
            <td>{% if elem.col6 == 0 %} {% else %}{{ elem.col6 }}{% endif %}</td>
            <td>{% if elem.col7 == 0 %} {% else %}{{ elem.col7 }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for elem in report|slice:down_idx%}
        <tr>
            <th scope="row">{{ elem.col0 }}</th>
            <td>{% if elem.col1 == 0 %} {% else %}{{ elem.col1 }}{% endif %}</td>
            <td>{% if elem.col2 == 0 %} {% else %}{{ elem.col2 }}{% endif %}</td>
            <td>{% if elem.col3 == 0 %} {% else %}{{ elem.col3 }}{% endif %}</td>
            <td>{% if elem.col4 == 0 %} {% else %}{{ elem.col4 }}{% endif %}</td>
            <td>{% if elem.col5 == 0 %} {% else %}{{ elem.col5 }}{% endif %}</td>
            <td>{% if elem.col6 == 0 %} {% else %}{{ elem.col6 }}{% endif %}</td>
            <td>{% if elem.col7 == 0 %} {% else %}{{ elem.col7 }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for elem in report|slice:scrap_idx%}
        <tr>
            <th scope="row">{{ elem.col0 }}</th>
            <td>{% if elem.col1 == 0 %} {% else %}{{ elem.col1 }}{% endif %}</td>
            <td>{% if elem.col2 == 0 %} {% else %}{{ elem.col2 }}{% endif %}</td>
            <td>{% if elem.col3 == 0 %} {% else %}{{ elem.col3 }}{% endif %}</td>
            <td>{% if elem.col4 == 0 %} {% else %}{{ elem.col4 }}{% endif %}</td>
            <td>{% if elem.col5 == 0 %} {% else %}{{ elem.col5 }}{% endif %}</td>
            <td>{% if elem.col6 == 0 %} {% else %}{{ elem.col6 }}{% endif %}</td>
            <td>{% if elem.col7 == 0 %} {% else %}{{ elem.col7 }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
