{% extends "base.html" %}
{% load mathfilters %}

{% block scripts %}
<script>
        if (screen.width < 500) {

          $("body").addClass("nohover");
          $("td, th")
            .attr("tabindex", "1")
            .on("touchstart", function() {
              $(this).focus();
            });

        }
</script>
<style>
    .job-color {
    background-color: rgba(132, 245, 39, 0.03);
    }
    .down-color {
    background-color: rgba(245, 97, 39, 0.03);
    }
    .scrap-color {
    background-color: rgba(39, 149, 245, 0.03);
    }
    .extra-border {
    border: 2px solid grey;
    }
</style>
{% endblock scripts %}

{% block content %}
<h4>Pareto Weekly Compare Report</h4>
<h5>{{ line_name }} - {{ shift }} </h5>
<a href="{% url 'gemba_app:previous-weekly-report' line_id=line_id base_sunday=this_week_sunday shift=shift %}">
    <<<- Previous </a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'gemba_app:next-weekly-report' line_id=line_id base_sunday=this_week_sunday shift=shift %}">
    Next ->>></a></br>
<table class="mytable">
    <thead class="extra-border">
        <tr>
            <th scope="col">Day</th>
            <th scope="col" style="text-align: center;">{% if shift == "Night shift" %} Sunday {% else %}
                Monday {% endif %}</th>
            <th scope="col" style="text-align: center;">{% if shift == "Night shift" %} Monday {% else %}
                Tuesday {% endif %}</th>
            <th scope="col" style="text-align: center;">{% if shift == "Night shift" %} Tuesday {% else %}
                Wednesday {% endif %}</th>
            <th scope="col" style="text-align: center;">{% if shift == "Night shift" %} Wednesday {% else %}
                Thursday {% endif %}</th>
            <th scope="col" style="text-align: center;">{% if shift == "Night shift" %} Thursday {% else %}
                Friday {% endif %}</th>
            <th scope="col" style="text-align: center;">{% if shift == "Night shift" %} Friday {% else %}
                Saturday {% endif %}</th>
            <th scope="col" style="text-align: center;">{% if shift == "Night shift" %} Saturday {% else %}
                Sunday {% endif %}</th>
        </tr>
    </thead>
    <tbody class="extra-border">
        {% for elem in report|slice:"0:6" %}
        <tr>
            <th scope="row">{{ elem.col0 }}</th>
            <td>{% if elem.col1 == 0 %} {% else %}{{ elem.col1 }}{% endif %}</td>
            <td>{% if elem.col2 == 0 %} {% else %}{{ elem.col2 }}{% endif %}</td>
            <td>{% if elem.col3 == 0 %} {% else %}{{ elem.col3 }}{% endif %}</td>
            <td>{% if elem.col4 == 0 %} {% else %}{{ elem.col4 }}{% endif %}</td>
            <td>{% if elem.col5 == 0 %} {% else %}{{ elem.col5 }}{% endif %}</td>
            <td>{% if elem.col6 == 0 %} {% else %}{{ elem.col6 }}{% endif %}</td>
            <td>{% if elem.col7 == 0 %} {% else %}{{ elem.col7 }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tbody class="extra-border">
        {% for elem in report|slice:jobs_idx%}
        <tr>
            <th scope="row" class="job-color">{{ elem.col0 }}</th>
            <td class="job-color">{% if elem.col1 == 0 %} {% elif elem.col1 > 0 %}{{ elem.col1 }} parts {% else %}<b>{{ elem.col1 }}</b>{% endif %}</td>
            <td class="job-color">{% if elem.col2 == 0 %} {% elif elem.col2 > 0 %}{{ elem.col2 }} parts {% else %}<b>{{ elem.col2 }}</b>{% endif %}</td>
            <td class="job-color">{% if elem.col3 == 0 %} {% elif elem.col3 > 0 %}{{ elem.col3 }} parts {% else %}<b>{{ elem.col3 }}</b>{% endif %}</td>
            <td class="job-color">{% if elem.col4 == 0 %} {% elif elem.col4 > 0 %}{{ elem.col4 }} parts {% else %}<b>{{ elem.col4 }}</b>{% endif %}</td>
            <td class="job-color">{% if elem.col5 == 0 %} {% elif elem.col5 > 0 %}{{ elem.col5 }} parts {% else %}<b>{{ elem.col5 }}</b>{% endif %}</td>
            <td class="job-color">{% if elem.col6 == 0 %} {% elif elem.col6 > 0 %}{{ elem.col6 }} parts {% else %}<b>{{ elem.col6 }}</b>{% endif %}</td>
            <td class="job-color">{% if elem.col7 == 0 %} {% elif elem.col7 > 0 %}{{ elem.col7 }} parts {% else %}<b>{{ elem.col7 }}</b>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tbody class="extra-border">
        {% for elem in report|slice:down_idx%}
        <tr>
            <th scope="row" class="down-color">{{ elem.col0 }}</th>
            <td class="down-color">{% if elem.col1 == 0 %} {% else %}{{ elem.col1 }} min{% endif %}</td>
            <td class="down-color">{% if elem.col2 == 0 %} {% else %}{{ elem.col2 }} min{% endif %}</td>
            <td class="down-color">{% if elem.col3 == 0 %} {% else %}{{ elem.col3 }} min{% endif %}</td>
            <td class="down-color">{% if elem.col4 == 0 %} {% else %}{{ elem.col4 }} min{% endif %}</td>
            <td class="down-color">{% if elem.col5 == 0 %} {% else %}{{ elem.col5 }} min{% endif %}</td>
            <td class="down-color">{% if elem.col6 == 0 %} {% else %}{{ elem.col6 }} min{% endif %}</td>
            <td class="down-color">{% if elem.col7 == 0 %} {% else %}{{ elem.col7 }} min{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tbody class="extra-border">
        {% for elem in report|slice:scrap_idx%}
        <tr>
            <th scope="row" class="scrap-color">{{ elem.col0 }}</th>
            <td class="scrap-color">{% if elem.col1 == 0 %} {% else %}{{ elem.col1 }} parts{% endif %}</td>
            <td class="scrap-color">{% if elem.col2 == 0 %} {% else %}{{ elem.col2 }} parts{% endif %}</td>
            <td class="scrap-color">{% if elem.col3 == 0 %} {% else %}{{ elem.col3 }} parts{% endif %}</td>
            <td class="scrap-color">{% if elem.col4 == 0 %} {% else %}{{ elem.col4 }} parts{% endif %}</td>
            <td class="scrap-color">{% if elem.col5 == 0 %} {% else %}{{ elem.col5 }} parts{% endif %}</td>
            <td class="scrap-color">{% if elem.col6 == 0 %} {% else %}{{ elem.col6 }} parts{% endif %}</td>
            <td class="scrap-color">{% if elem.col7 == 0 %} {% else %}{{ elem.col7 }} parts{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
