{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  {% if request.user.is_staff %}
    <div><a href="{% url 'tools_app:job-add-form' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Add job
    </button></a>
    </div>
  <br/>
  {% endif %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Completed JOBS</h4>
      <p><a href="{% url 'tools_app:search-form' %}">Clear all filters</a></p>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.date_gte.label_tag }}
          {% render_field filter.form.date_gte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.date_lte.label_tag }}
          {% render_field filter.form.date_lte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.job.label_tag }}
          {% render_field filter.form.job class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.parts.label_tag }}
          {% render_field filter.form.parts class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Job</th>
        <th>Parts</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      {% for item in filter.qs %}
        <tr>
          <td>{{ item.date|date:"Y-m-d" }}</td>
          <td><a href="{% url 'tools_app:job-detail-view' pk=item.pk %}">{{ item.job }}</a></td>
          <td>{{ item.parts }}</td>
          <td>{{ item.hours }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<div><a href="{% url 'tools_app:export_csv2' %}?{{request.GET.urlencode}}">
<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Export to CSV
</button></a></div>
{% endblock %}