{% extends 'base.html' %}
{% block content %}
<h4>TOOLS IN USE ON THE MACHINE</h4>
    <div>
        {% regroup tools_list by machine as machine_list %}
        {% for machine in machine_list %}
        <br>
        <div>
            <b>{{ machine.grouper }}</b>
        </div>
        <table id="table" class="table table-hover">
            <thead>
            <tr>
                <th>Station</th>
                <th>Tool</th>
                <th>Tool Type</th>
                <th>Start Date</th>
                <th>Minutes</th>
            </tr>
            </thead>
            <tbody>
                    {% for operation in machine.list %}
                    <tr>
                    <td>{{ operation.station }}</td>
                    <td>{{ operation.tool }}</td>
                    <td>{{ operation.tool_type }}</td>
                    <td>{{ operation.start_date|date:"Y-m-d" }}</td>
                    <td>{{ operation.minutes }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>

{% endblock %}