{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    {% if request.user.is_staff %}
    <div><a href="{% url 'tools_app:operation-update-view' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Change tool
    </button></a>
    <a href="{% url 'tools_app:update-parts' %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Update parts
    </button></a>
    </div>
    <br/>
    {% endif %}
    <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Tool change operation</h4>
        <p><a href="{% url 'tools_app:returning' %}">Clear all filters</a></p>
      <div class="row">
    <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.machine.label_tag }}
          {% render_field filter.form.machine class="form-control" %}
        </div>
          <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.station.label_tag }}
          {% render_field filter.form.station class="form-control" %}
        </div>
          <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.tool.label_tag }}
          {% render_field filter.form.tool class="form-control" %}
        </div>
          <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.tool_type.label_tag }}
          {% render_field filter.form.tool_type class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.start_date_lte.label_tag }}
          {% render_field filter.form.start_date_lte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.start_date_gte.label_tag }}
          {% render_field filter.form.start_date_gte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.finish_date_lte.label_tag }}
          {% render_field filter.form.finish_date_lte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.finish_date_gte.label_tag }}
          {% render_field filter.form.finish_date_gte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.status.label_tag }}
          {% render_field filter.form.status class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.hours_lte.label_tag }}
          {% render_field filter.form.hours_lte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.hours_gte.label_tag }}
          {% render_field filter.form.hours_gte class="form-control" %}
        </div>

      </div>
        <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
    <div>
        <table id="table" class="table table-hover">
            <thead>
            <tr>
                <th>Machine</th>
                <th>Station</th>
                <th>Tool</th>
                <th>Tool Type</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Status</th>
                <th>Hours</th>
            </tr>
            </thead>
            <tbody>
            {% for operation in filter.qs %}
                <tr>
                    <td>{{ operation.machine }}</td>
                    <td>{{ operation.station }}</td>
                    <td>{{ operation.tool }}</td>
                    <td>{{ operation.tool_type }}</td>
                    <td>{{ operation.start_date|date:"Y-m-d" }}</td>
                    <td>{% if operation.finish_date %}{{ operation.finish_date|date:"Y-m-d" }}{% endif %}</td>
                    <td>
                        {% if operation.status is True %} Used {% else %} In use {% endif %}
                    </td>
                    <td>{{ operation.hours }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<div><a href="{% url 'tools_app:export_csv' %}?{{request.GET.urlencode}}">
<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Export to CSV
</button></a></div>
{% endblock %}
