{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    {% if request.user.is_staff %}
    <p><a href="{% url 'tools_app:operation-update-view' %}">CHANGE TOOL</a></p>
    {% endif %}
{{ listed }}
    <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Tool change</h4>
      <div class="row">
    <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.machine.label_tag }}
          {% render_field filter.form.machine class="form-control" %}
        </div>
          <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.station.label_tag }}
          {% render_field filter.form.station class="form-control" %}
        </div>
          <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.tool.label_tag }}
          {% render_field filter.form.tool class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.start_date_lte.label_tag }}
          {% render_field filter.form.start_date_lte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.start_date_gte.label_tag }}
          {% render_field filter.form.start_date_gte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.finish_date_lte.label_tag }}
          {% render_field filter.form.finish_date_lte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.finish_date_gte.label_tag }}
          {% render_field filter.form.finish_date_gte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.status.label_tag }}
          {% render_field filter.form.status class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.meters_lte.label_tag }}
          {% render_field filter.form.meters_lte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.meters_gte.label_tag }}
          {% render_field filter.form.meters_gte class="form-control" %}
        </div>

      </div>
        <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
    <div>
        <table id="table" class="table table-stripped">
            <thead class="alert-success">
            <tr>
                <th>Machine</th>
                <th>Station</th>
                <th>Tool</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Status</th>
                <th>Meters</th>
            </tr>
            </thead>
            <tbody>
            {% for borrow in filter.qs %}
                <tr>
                    <td>{{ borrow.machine }}</td>
                    <td>{{ borrow.station }}</td>
                    <td>{{ borrow.tool }}</td>
                    <td>{{ borrow.start_date|date:"Y-m-d" }}</td>
                    <td>{% if borrow.finish_date %}{{ borrow.finish_date|date:"Y-m-d" }}{% endif %}</td>
                    <td>
                        {% if borrow.status is True %}
                            <button disabled="disabled" class="btn btn-primary" type="button" href="#">
                                <span class="glyphicon glyphicon-check"></span> Used
                            </button>
                        {% else %}
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input type="hidden" name="tool_id" value="{{ borrow.id }}"/>
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-unchecked"></span> In use
                                </button>
                            </form>
                        {% endif %}
                    </td>
                    <td>{{ borrow.meters }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<div><a href="{% url 'tools_app:export_csv' %}?{{request.GET.urlencode}}">
<button type="button" class="button">Export to CSV</button></a></div>
{% endblock %}