{% extends "base.html" %}
{% block content %}
<p><a href="{% url 'tools_app:select-machine' %}">Go back</a></p>
<h4>Select tool:</h4>

<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for object in tool_qs %}
            <tr>
                <td><a href="{% url 'tools_app:select-tool' tool_id=object.pk %}">{{ object.tool }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}