{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div>
        <div class="alert alert-info">Updated</div>
        <table id="table" class="table table-stripped">
            <thead class="alert-success">
            <tr>
                <th>Machine</th>
                <th>Station</th>
                <th>Tool</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Status</th>
                <th>Meters</th>
            </tr>
            </thead>
            <tbody>
            {% for borrow in tools %}
                <tr>
                    <td>{{ borrow.machine }}</td>
                    <td>{{ borrow.station }}</td>
                    <td>{{ borrow.tool }}</td>
                    <td>{{ borrow.start_date|date:"d M, Y" }}</td>
                    <td>{% if borrow.finish_date %}{{ borrow.finish_date|date:"d M, Y" }}{% endif %}</td>
                    <td>
                        {% if borrow.status is True %}
                            <button disabled="disabled" class="btn btn-primary" type="button" href="#">
                                <span class="glyphicon glyphicon-check"></span> Used
                            </button>
                        {% else %}
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input type="hidden" name="tool_id" value="{{ borrow.id }}"/>
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-unchecked"></span> In use
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}