{% extends 'base.html' %}
{% block content %}
<h4>CONTENTS</h4>
    <div>
        <table id="table" class="table table-hover">
            <thead>
            <tr>
                <th>Num</th>
                <th>Description</th>
                <th>Weight</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ object.num }}</td>
                <td>{{ object.desc }}</td>
                <td>{{ object.weight }} kg</td>
            </tr>
            </tbody>
        </table>
    </div>
{% if request.user.is_staff %}
    <div><a href="{% url 'costs_app:contents-update-detail' pk=object.pk %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Update
    </button></a>
    <a href="{% url 'costs_app:delete-content-detail' pk=object.pk %}">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Delete
    </button></a>
    </div>
  {% endif %}
{% endblock %}