{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load static %}
<div class="container">
    <div class="left-dashboard">
        <div class="row">
            <div class="card h-100 border-start-lg border-start-primary">
                <div class="card-body">
                    <div class="h6"><img src="{% static 'pics/done.png' %}" alt="Done" width="23" height="23">
                        Recently Produced</div>
                    <table class="small-table">
                        <thead>
                            <tr>
                                <th class="small"><b>Time</b></th>
                                <th class="small"><b>Line</b></th>
                                <th class="small"><b>Job</b></th>
                                <th class="small"><b>Output</b></th>
                                <th class="small"><b>Good</b></th>
                                <th class="small"><b>Scrap</b></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in produced %}
                            <tr>
                                <td class="small text-muted">{{ object.created|date:"H:i" }}</td>
                                <td class="small text-muted">{{ object.line }}</td>
                                <td class="small text-muted">{{ object.job }}</td>
                                <td class="small text-muted">{{ object.output }}</td>
                                <td class="small text-muted">{{ object.good }}</td>
                                <td class="small text-muted">{{ object.scrap }}</td>
                           </tr>
                        {% endfor %}
                       </tbody>
                    </table>
                    </br>
                    <a class="small text-primary" href="{% url 'gemba_app:pareto-details' %}">
                        Display more produced &#11166;</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card h-100 border-start-lg border-start-secondary">
                <div class="card-body">
                    <div class="h6"><img src="{% static 'pics/stop.png' %}" alt="Stop" width="23" height="23">
                        Recent causes of downtime</div>
                    <table class="small-table">
                        <thead>
                            <tr>
                                <th class="small"><b>Line</b></th>
                                <th class="small"><b>Downtime</b></th>
                                <th class="small"><b>Job</b></th>
                                <th class="small"><b>Min</b></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in downtimes %}
                            <tr>
                                <td class="small text-muted">{{ object.line }}</td>
                                <td class="small text-muted">{{ object.downtime.description }}</td>
                                <td class="small text-muted">{{ object.job }}</td>
                                <td class="small text-muted">{{ object.minutes }}</td>
                           </tr>
                        {% endfor %}
                       </tbody>
                    </table>
                    </br>
                    <a class="small text-secondary" href="{% url 'gemba_app:downtimes-view' %}">
                        Display more downtime reasons &#11166;</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                   <div class="h6"><img src="{% static 'pics/bin.png' %}" alt="Bin" width="18" height="23"> Latest reasons for scrapping</div>
                    <table class="small-table">
                        <thead>
                            <tr>
                                <th class="small"><b>Line</b></th>
                                <th class="small"><b>Scrap</b></th>
                                <th class="small"><b>Job</b></th>
                                <th class="small"><b>Qty</b></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in scraps %}
                            <tr>
                                <td class="small text-muted">{{ object.line }}</td>
                                <td class="small text-muted">{{ object.scrap.description }}</td>
                                <td class="small text-muted">{{ object.job }}</td>
                                <td class="small text-muted">{{ object.qty }}</td>
                           </tr>
                        {% endfor %}
                       </tbody>
                    </table>
                    </br>
                    <a class="small text-success" href="{% url 'gemba_app:scraps-view' %}">
                        Display more scrap reasons &#11166;</a>
                </div>
            </div>
        </div>
    </div>
    <div>
            <h4>Monthly line production summary - {{ year }}</h4>
            <form method="get">
                <div class="well">
                  <p><a href="{% url 'gemba_app:dashboard' %}">Clear all filters</a></p>
                  <div class="row">
                    <div class="form-group col-sm-4 col-md-3">
                      {{ filter.form.month.label_tag }}
                      {% render_field filter.form.month class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                      {{ filter.form.line.label_tag }}
                      {% render_field filter.form.line class="form-control" %}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                  </button>
                </div>
            </form>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Month</th>
                        <th scope="col">Line</th>
                        <th scope="col">Total Output</th>
                        <th scope="col">Total Good</th>
                        <th scope="col">Total Scrap</th>
                        <th scope="col">Total Rework</th>
                        <th scope="col">Total Available Time</th>
                        <th scope="col">Average Availability</th>
                        <th scope="col">Average Performance</th>
                        <th scope="col">Average Quality</th>
                        <th scope="col">Average OEE</th>
                        <th scope="col">Target</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in filter.qs %}
                        <tr>
                            <td>{{ object.month }}</td>
                            <td>{{ object.line }}</td>
                            <td>{{ object.total_output }}</td>
                            <td>{{ object.total_good }}</td>
                            <td>{{ object.total_scrap }}</td>
                            <td>{{ object.total_rework }}</td>
                            <td>{{ object.total_available_time }}</td>
                            <td>{{ object.total_availability|div:object.counter|floatformat:"2" }}%</td>
                            <td>{{ object.total_performance|div:object.counter|floatformat:"2" }}%</td>
                            <td>{{ object.total_quality|div:object.counter|floatformat:"2" }}%</td>
                            <td>{{ object.total_oee|div:object.counter|floatformat:"2" }}%</td>
                            <td>{% if object.line.target < object.total_oee|div:object.counter %}&uarr;
                                {% elif object.line.target|sub:5 > object.total_oee|div:object.counter %}&darr;
                                {% else %}&#8275;{% endif %}{{ object.line.target }}%
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="right-dashboard">
        <div class="row">
            <div class="card h-100 border-end-lg border-end-blue">
                <div class="card-body">
                    <div class="h6"><img src="{% static 'pics/winner.png' %}" alt="Winner" width="18" height="25">
                        Yesterday's 5 best results ({{ yesterday|date:'d-m' }})</div>
                    <table class="small-table">
                        <thead>
                            <tr>
                                <th class="small"><b>Pos</b></th>
                                <th class="small"><b>Line</b></th>
                                <th class="small"><b>Shift</b></th>
                                <th class="small"><b>A</b></th>
                                <th class="small"><b>P</b></th>
                                <th class="small"><b>Q</b></th>
                                <th class="small"><b>OEE</b></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for pareto in paretos %}
                            <tr>
                                <td class="small text-muted">{{ forloop.counter }}</td>
                                <td class="small text-muted">{{ pareto.line }}</td>
                                <td class="small text-muted">{{ pareto.shift }}</td>
                                <td class="small text-muted">{{ pareto.availability }}%</td>
                                <td class="small text-muted">{{ pareto.performance }}%</td>
                                <td class="small text-muted">{{ pareto.quality }}%</td>
                                <td class="small text-muted">{{ pareto.oee }}%</td>
                           </tr>
                        {% endfor %}
                       </tbody>
                    </table>
                    </br>
                    <a class="small text-blue" href="{% url 'gemba_app:report-choices-2' %}">
                        Display more produced &#11166;</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
